
                                /* fonts */
:root {
    --primary-color: #ff6b6d;
    --secondary-color: #794afa;
    --secondary-darc-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --darc-color: #0a021c;

    --font-small:13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --te3: 300;
    --te5: 500;
    --te6: 600;
    --tw7: 700;
    --tw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s
}
*,::before,::after {
    box-sizing: border-box;
}
* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    --webkit-tap-highlight-color: transparent;
    color: #fff;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}
                            /* REUSABLE SELECTOR */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}
body {
    background-color: rgb(20, 14, 14);
}

                                   /* BREND  */
.navbar {
    background-color: rgb(31, 28, 28);
    padding-top: 10px;
}
.navbar-dark .navbar-brend{
    color: aliceblue;
}
.navbar-dark .navbar-brend:hover {
    color: antiquewhite;
}
.navbar-brend {
    justify-content: center;
    font-family: 'Post No Bills Jaffna';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: auto;
    text-decoration: none;
}

                             /* ОБЩИЙ КОРЗИНА ТОВАРА */

.header .right {
    position: relative;
    margin-left: auto;
}
.header .right .icon-large {
    position: relative;
}
.right .cart-head {
    color: #e2e7ef;
} 
.header .right .fly-item {
    top: 0;
    right: 16px;
    width: 16px;
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
}
.fly-item {
    color: #fff;
}
.fly-item:hover {
    color: green;
}



/* .navbar-tovar {
    display: inline;
    color: #fff;
}
.navbar-tovar:hover {
    color: burlywood;
} */



                                   /* ШАПКА САЙТА */
#hero {
    max-width: 100%;
    overflow: 100%;
    height: 100vh;
    background: url(./images/IMG_0906.JPG);
    background-size: cover;
    position: relative;
    object-fit: scale-down;
    margin: 0px 0 0px 0px;
    text-decoration: 4px underline;
}
#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}
#hero .container {
    position: relative;
    padding-top: 75px;
    margin: 0 0 0 15px;
}
.border-block {
    width: auto;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, .3);
    padding-top: 40px;

}
#hero h1 {
    margin: 0;
    font-size: 37px;
    font-weight: 500;
    line-height: 64px;
    color: #fff;
    font-family: 'Post No Bills Jaffna';
    border-bottom: 3px solid;
}
 h2 {
    padding-top: 30px;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
}

                                 /* КОНТЕЙНЕР 1  ТОВАР 1 */
.mt-4 {        
    margin-top: 0.5rem!important
}
.about {
    margin:  0px 0 90px 0px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}
.text {
    position: relative;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
    text-align: center;
}
.conta {
    margin-bottom: 30px;
    text-align: center;
}
.row {
    padding: 13px 15px;
    /* top: 50px; */
    width: auto;
    height: auto;
    display: inline-block;  
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
 }
.flex-box {
    overflow: hidden;
    display: inline;
}
                                   /* КОНТЕЙНЕР IMG */
                                   /* img slider */
.products:where(.image, .thumbnail) img {
    transition: transform .3s;
}
.products:where(.image, .thumbnail):hover img {
    transform: scale(1.1);
}
.product .info {
    transition: var(--trens-background-color), opacity .3s;
}
.products .item :hover .info {
    opacity: 1;
}
.card-image {
    margin-bottom: 30px;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px 6px #3f4146;
} 
.img-fluid{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}



                             /* page single HTML */
                             /* b. breadcrumb */
.breadcrumb {
    font-size: var(--font-small);
    margin-bottom: 2em;
}
.breadcrumb li:not(:last-child)::after {
    content: "/";
    padding: 0 0.35em;
    color: #fff;
}
.breadcrumb li:last-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-text-color);
}
.flexitem {
    display: contents;
}

 
                                    /* 08 page single 
                                        c Product detalis */
 .products.one .item {
    flex-direction: column;
    max-width: 100%;
    width: auto;
}   
.products.one :where(.big-image, .small-image) {
    overflow: hidden;
    display: flex;
}
.products.one .big-image {
    position: relative;
    margin-bottom: 1em;
    width: 544px;
}
.products.one :where(.big-image, .small-image) img {
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.products.one .thumbnail-show {
    position: relative;
    width: 130px;
    height: 110px;
    overflow: hidden;
    margin: 0 2em 2em 0;
} 
.products :is(.swiper-button-next, .swiper-button-prev) {
    outline: 0;
    /* color: var(--secondary-dark-color); */
    color: #794afa;
    transition: var(--trans-background), transform .3s;
}
.products .big-image:hover .swiper-button-next {
    transform: translateX(10px);
}
.products .big-image:hover .swiper-button-prev {
    transform: translateX(-10px);
}
.products :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 3.5em;
}
.products .big-image:hover :is(.swiper-button-next, .swiper-button-prev) {
    /* background-color: var(--light-bg-color); */
    background-color: #f2f3f5;
}


       /* 08 PAGE SINGLE 
       D PRODUCTDESCRIPTION */
.products.one .title-text {
    color: #fff;
    font-size: 30px;
}
.products.one .price {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}
.products.one .price .current {
    color: #fff;
    font-size: 1.7em;
}
.products :where(.variant, .actions) circle {
    display: block;
    position: static;
    top: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
.products .actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.products .qty-control {
    width: fit-content;
    padding: 0.5em;
    border: 1px solid var(--border-color);
    margin: 0 2em 2em 0;
}
.products .actions :where(input, button) {
    font-size: 1em;
    outline: 0;
    border: 0;
}
.circle {
    border-radius: 50px;
    background-color: #3c3e41;
    color: #fff;
    font-size: 1.7em;
    height: 30px;
    width: 30px;
}
.circle:hover {
    color: #000000;
    background-color: darkorange;
    transition: var(--trans-color);
}
.products .actions input {
    width: 50px;
    text-align: center;
    background-color: #3c3e41;
    color: #fff;
    height: 30px;
    border-radius: 40px;
}
.product .qty-control button::before {
    background-color: transparent;
}
.products .actions .button-cart {
    flex: 1;
    min-width: 100px;
}
.products .actions .button-cart button {
    width: var(--percent50);
    cursor: pointer;
    width: 150px;
}
.primary-button {
    border-radius: 20px;
    background-color: #5a0305;
    /* margin-left: 20px; */
    cursor: pointer;
    color: #f2f3f5;
}
.primary-button:hover {
    color: #0d51fd;
    background-color: #453c5c;
    transition: var(--trans-background-color);
}
.wish-share a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: var(--fw7);
    margin: 0em 2em 0.5em 0;
    transition: var(--trans-color);
}

                    /* 08 PAGE SIMBLE
                        e Product review */
.collapse:not(.show) {
    display: inline;
}
.products .collapse .has-child > a {
    position: relative;
    font-weight: var(--fw7);
    color:#fff;
    text-transform: uppercase;
    padding: 1em 1.5em;
    border-top: 1px solid var(--border-color);
}
.products .collapse .has-child > a::before {
    content: '+';
    position: absolute;
    left: 0;
}
.icon-large__text {
    display: block;
    padding: 0 0 0 15px;
}
.box__text  {
    margin: 20px 0 0 25px;
    color: #fff;
}

                       /* 08 PAGE SINGLE 
                         E  Product Review */

.icon-small__text {
    color: #f2f3f5;
    font-size: 1em;
}
.products .reviews h4 {
    font-size: 2em;
    color: rgb(156, 156, 167);
    padding-top: 1em;
    margin: 1em 0 0.5em;
    border: 1px solid var(--border-colorbord);
    gap: 1em;
    align-items: flex-start;
}
.products .review-block {
    color: initial;
}  
.secondary-button {
    background-color: #5a0305;
    cursor: pointer;
    color: #f2f3f5;
    padding: 0 0 5px 0;
}
.secondary-button:hover {
    color: #f2f3f5;
    background-color: #3c3e41;
    transition: var(--trans-background-color);
}
.products .review-block-head > a {
    display: block;
    font-size: 1.5em;
    width: 200px;
    margin-top: 1em;
    text-align: center;
    border-radius: 20px;
}   
.products .review-block-head .rate-sum {
    position: relative;
    font-size: 4em;
    font-weight: var(--fw7);
    padding-right: 0.5em;
    color: #fff;
}
.products .review-block-head .rate-sum::before {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    position: absolute;
    top: 25px;
    left: 100px;
    transform: rotate(22deg);
    background-color:#7c899a;
}
.review-block-body .item {
    gap: 1em;
    padding-bottom: 2.5em;
    margin-top: 3.5em;
}
.rate-sum__text {
    color: #737578;
}



                                /* 08 PAGE SINGLE 
                                f  Product Review form */
.review-form .rating {
    flex-wrap: wrap;
    display: flex;
} 
.review-form p {
    font-size: 1.25em;
    margin-right: 1em;
    color: #fff;
}
.review-form .rate-this input {
    display: none;
}
.review-form .rete-this label {
    float: right;
    font-size: 2em;
    color: var(--secondary-darc-color);
}
.rate-this {
    color: #f2f3f5; 
 } 
.rate-this > input:checked ~ label,
.rate-this:not(:checked) > label:hover,
.rate-this:not(:checked) > label:hover ~ label {
    color: gold;
} 
.rate-this > input:checked + label,
.rate-this > input:checked ~ label:hover,
.rate-this > label:hover ~ input:checked ~ label,
.rate-this > input:checked ~ label:hover ~ label {
    color:goldenrod;
}
 .review-form form {
    margin-top: 2.5em;
 }                               
form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
form :where(input,textarea)  {
    line-height: 1;
    padding: 0.3em;
    border: 1px solid var(--border-color);
    outline: 0;
    border-radius: 15px;
    max-width: 550px;
}   
.form label {
    font-weight: var(--fw5);
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.fsi-5 {
    color: rgb(86, 82, 82);
}
.review-form .primary-button {
    width: 200px;
    height: 50px;
    text-align: center;
}
.form-control {
    border-radius: 30px;
}
                           /* 09 PAGE SINGLE: SPECIAL OFFER */



                           /* CART МАГАЗИН В HEADER */


.item-content {
    position: relative;
    float: right;
} 
.cena {
    color: #f2f3f5;
}  
                  

                               /* текст под товаром */
.products a h3 {
    font-family: 'Redik';
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #fff;
    padding-top: 10px;
}

.products a h3:hover {
    text-decoration: underline;
    color:darksalmon;
}
.products .item-text a { 
    color: black;
}


.info-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
                                      /* ЦЕНА */
.products .info-price .price {
    /* font-size: calc(0.4em + 1vw); */
    font-family: 'Redik';
    color: #fff;
}

                                      /* КОРЗИНА */
.add-to-cart {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 14, 14);
    color: #fff;
    border-radius: 10px;
}
.add-to-cart:hover {
    color: burlywood;
}

/* коментарии клиента */
#comment-field {
    width: 550px;
    height: auto;
}
.tetxt-right-text {
    width: 200px;
    font-size: 20px;
    color: #000000;
}
.alert-primary-text {
    width: 500px;
    height: auto;
    color: #000000;
    background-color: #696f7a;
    border: 1px solid #696f7a;
    border-radius: 30px;
    padding: .375rem 0.75rem;;
}
.alert-success-text  {
    color: #000000;
    background-color: #3f4146;
    height: auto;
    width: auto;
    max-width: 500px;
    background-color: #696f7a;
    border: 1px solid #696f7a;
    border-radius: 30px;
    padding: .375rem 0.75rem;;
}

/* footer */
/* способ связи */
.footer {
    margin: 50px 0 50px 0 ;
}
.footer_connection {
    display: inline;
}
.bi_email {
    color: aliceblue;
}
.bi_email:hover {
    color: #36456b;
}
.bi_instagram {
    color: #e2e7ef;
}
.bi_instagram:hover {
    color: rgb(210, 46, 46);
}
.bi_watscap {
    color: #e2e7ef;
}
.bi_watscap:hover {
    color: #3d6bde;
}











@media screen and (min-width: 481px) {
    
    .products.main .item {
        flex: 0 0 50%;
    }
    /* page single */
    .products.one .big-image {
        margin-bottom: 2em;
    }
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }
}

@media screen and(min-width: 768px) {
    .products .price .curent {
        font-size: 1.25em;
    }
    .products.mini, 
    .banner .row,
    .widgets .row {
        flex:0 0 50%;
    } 
    .products.main .item {
        flex: 0 0 33.3333%;
    }
    .products.one .row {
        flex: 0 0 50%;
        width: 50%;
    }
    .products.one .is_sticky,
    .is_sticky {
        position: sticky;
        top: 2em;
    }
}



@media screen and(min-width: 992px) {
    .container {
        padding: 0 2em;
    }
    .has-child:hover ul {
        display: block;
    }
    .has-child li a:hover {
        text-decoration: underline;
    }

    /* slider */
    .slider > div > .wrapper {
        width: calc(100% - (300px + 2em));
        margin-left: auto;
    }
    .products.big .media {
        max-height: 373px;
    }

    .products.main .item 
    .widgets .row {
        flex: 0 0 25%;
    }
    .products.one .flexwrap > .row:last-child > .item {
        padding-left: 2em;
    }
}