
                                /* fonts */
:root {
    --primary-color: #ff6b6d;
    --secondary-color: #794afa;
    --secondary-darc-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --darc-color: #0a021c;

    --font-small:13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --te3: 300;
    --te5: 500;
    --te6: 600;
    --tw7: 700;
    --tw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s
}
*,::before,::after {
    box-sizing: border-box;
}
* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    --webkit-tap-highlight-color: transparent;
    color: #fff;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}
                            /* REUSABLE SELECTOR */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}
.column {
    margin-left: -0.938em;
    margin-right: 0.938em;
}
.column .row {
    padding: 0 0.938em;
}
.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexitem {
    display: flex;
    align-items: center;
}
.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
body {
    background-color: rgb(20, 14, 14);
}
/* header */
/* .header li {
    position: relative;
}
.header ul li {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
} */






                                   /* BREND  */
.navbar {
    background-color: rgb(31, 28, 28);
    padding-top: 10px;
}
.navbar-dark .navbar-brend{
    color: aliceblue;
}
.navbar-dark .navbar-brend:hover {
    color: antiquewhite;
}
.navbar-brend {
    justify-content: center;
    font-family: 'Post No Bills Jaffna';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: auto;
    text-decoration: none;
}

/* icon home  */
.flexitem li {
    display: flex;
}
.bi-hover {
    color: #ffffff;
    /* width: 40px; */
    margin-right: 20px;
}
.bi-hover:hover {
    color: silver;
}


                             /* ОБЩАЯ КОРЗИНА ТОВАРА */

.header-nav {
    display: flex;
}
.corsina-header {
    display: flex;
}
.header .right {
    position: relative;
    margin-left: auto;
}
.header .right .icon-large {
    position: relative;
}
.bi-corsina {
    color: #fff;
}
.bi-corsina:hover {
    color: green;
}
.icon-large-a {
    font-size: 1.75em;
}
.icon-large {
    font-size: 1.75em;
    display: block;
}
.icon-large .item-number {
    font-size: 16px;
    padding: 0;
}

/* HEADER-NAV */
nav .fly-item,
.header-nav .mini-cart .price .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 30px;
    border-radius: 3px;
    /* right: -32px; */
    /* background-color: var(--primary-color); */
}

.fly-item {
    position: absolute;
    height: 16px;
    font-weight: var(--font-smaller);
    padding: 4px;
    text-align: center;
    line-height: 32px;
    color: var(--white-color);
    top: 0;
}
.header-nav .right {
    position: relative;
    margin-left: auto;
    display: contents;
}
.header-nav .right .icon-large {
    position: relative;
}
.header-nav .right .fly-item {
    top: -14;
    right: 5px;
    width: 16px;
    background-color: var(--secondary-darc-color);
    border-radius: var(--percent50);
}


/* MINI CART */

.mini-cart {
    cursor: default;
    position: absolute;
    width: 350px;
    top: 100%;
    background-color:#000000;
    /* z-index: 1000; */
    box-shadow: rgba(3, 3, 3, 0.719) 0 10PX 50px;
    right: 3px;
    /* height: auto; */
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility; 
    transition-duration: 0.15s;
    transition-delay: 0.5s; 
}
.iscart:hover .mini-cart {
    visibility: visible;
    opacity: 1;
}

:is(.mini-cart .products, .products-cart) .thumbnail img {
    transform: none;
}
.mini-cart ul :where(li, .price) {
    position: relative;
}
.mini-cart .content {
    width: var(--percent100);
    height: var(--percent100);
    touch-action: auto;
    padding: 1.5em;
}
.mini-cart .cart-head {
    font-size: 1.5em;
    font-weight: var(--fw5);
    color: var(--light-text-color);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--border-color);
}
.cart-body {
    overflow: hidden;
    max-height: 250px;
}
/* .mini-cart .cart-boby {
    padding: 0 1.5em;
    margin: 0 -1.5em;
    max-height: 350px;
    overflow: auto;
} */
:where(.mini-cart, .products.cart) .thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 1em;
}

.cart-product {
    display: flex;
    margin-bottom: 10px;
}
.item {
    display: block;
    width: 100%;
}
.white {
    color: #fff;
    margin-left: 10px;
}
.corsina-img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.item-content {
    max-width: 280px;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    width: 145px;
    color: var(--light-bg-color);
} 
.bi-x {
    color: #e2e7ef;
    position: absolute;
}
.cart__num {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    color: #fff;
    margin-top: -30px;
    background-color: #de707d;
    border-radius: 100%;
    padding: 3px;
    min-width: 16px;
    min-height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
}

/*  ВНУТРИ В РАРЗИНЕ */
.mini-cart .subtotal {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    margin-bottom: 2em;
    border-top: 1px solid #a2b2db;
}
.mini-cart .subtotal p:last-child {
    font-size: 2em;
}
.mini-cart .actions a {
    display: block;
    width: var(--percent100);
    text-align: center;
    margin-bottom: 1em;
}

.fullprice { 
    color: var(--white-color);
    font-size: 20px;
    font-style: 500;
}
.primary-button-cor {
    border-radius: 20px;
    background-color: #5a0305;
    /* margin-left: 20px; */
    cursor: pointer;
    color: #f2f3f5;
    padding: 8px 8px 8px 8px;
}
.primary-button-cor:hover {
    color: #0d51fd;
    background-color: #453c5c;
    transition: var(--trans-background-color);
}
.close-modal {
    border-radius: 20px;
    background-color: #431515;
    /* margin-left: 20px; */
    cursor: pointer;
    color: #f2f3f5;
    padding: 8px 8px 8px 8px;
    width: 100%;
    /* display: none; */
    z-index: 4;
}
.close-modal:hover {
    color: #0d51fd;
    background-color: #453c5c;
    transition: var(--trans-background-color);
}

/* потом переместить в page cart */
.textp {
    color: white;
}
b, strong {
    font-weight: bolder;
    /* margin-left: 100px; */
}
                                                   1/59/10

/* PAGE CART управление и хранение товаров */
.products.cart form {
    max-height: 350px;
    width: var(--percent100);
}
.products.cart table thead th {
    vertical-align: middle;
    /* background-color: var(--light-bg-color); */
}
.products.cart table :where(th, td) {
    padding: 2em 1em;
    text-align: center;
    color: floralwhite;
    padding: 11px 6px 7px 14px;
}
.products.cart table :where(th, td):first-child {
    /* text-align: left; */
    padding-left: 2em;
}
.products.cart table tbody td:first-child {
    padding-left: 0;
}
/* .products.cart table td :where(.content, .qty-control, p) {
    margin: 0;
    padding: 0;
} */
.products.cart .qty-control :where(button, input) {
    width: 32px;
    height: 32px;
    padding: 3.25px 0 4px;
    text-align: center;
    outline: 0;
    border: 0;
    background-color:#bbc5d6;
    border-radius: 20px;
}
.products.cart .qty-control button {
    cursor: pointer;
}
.products.cart table tbody tr {
    border-bottom: 1px solid var(--border-color);
    /* float: right; */
}
.line {
    display: inline-block;
    margin-top: 36px;
}
.strong-item {
    padding: 0 0 0 0;
}
.simplebar-track.simplebar-vertical {
    width: 3px;
    background-color: rgba(239, 12, 12, 0.919);
    border-radius: 5px;
    margin-top: 20px;
    height: calc(100% - 40px);
    right: 5px;
}
.simplebar-track.simplebar-vertical {
    visibility: visible;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background-color: rgba(233, 229, 229, 0.822);
    border-radius: 5px;
    width: 100%;
    opacity: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
/* .simplebar-vertical {
    visibility: initial;
} */







                                   /* ШАПКА САЙТА */
#hero {
    max-width: 100%;
    overflow: 100%;
    height: 100vh;
    background: url(./images/travel/IMG_0906.JPG);
    background-size: cover;
    position: relative;
    object-fit: scale-down;
    margin: 0px 0 0px 0px;
    text-decoration: 4px underline;
}
#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}
#hero .container {
    position: relative;
    padding-top: 75px;
    margin: 0 0 0 15px;
}
.border-block {
    width: auto;
    border: 3px solid #fff;
    background: rgba(0, 0, 0, .3);
    padding-top: 40px;

}
#hero h1 {
    margin: 0;
    font-size: 37px;
    font-weight: 500;
    line-height: 64px;
    color: #fff;
    font-family: 'Post No Bills Jaffna';
    border-bottom: 3px solid;
}
 h2 {
    padding-top: 30px;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
}

                                 /* КОНТЕЙНЕР 1  ТОВАР 1 */
.mt-4 {        
    margin-top: 0.5rem!important
}
.about {
    margin:  0px 0 90px 0px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}
.text {
    position: relative;
    font-family: 'Post No Bills Jaffna';
    color: #fff;
    text-align: center;
}
.conta {
    margin-bottom: 30px;
    text-align: center;
}
.row {
    padding: 13px 15px;
    /* top: 50px; */
    width: auto;
    height: auto;
    display: inline-block;  
    margin: 20px 0px 0px 0px;
    justify-content: space-between;
 }
.flex-box {
    overflow: hidden;
    display: inline;
}

                                   /* КОНТЕЙНЕР IMG */
                                   /* img slider */
.products:where(.image, .thumbnail) img {
    transition: transform .3s;
}
.products:where(.image, .thumbnail):hover img {
    transform: scale(1.1);
}
.product .info {
    transition: var(--trens-background-color), opacity .3s;
}
.products .item :hover .info {
    opacity: 1;
}
.card-image {
    margin-bottom: 30px;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px;
    width: 200px;
    box-shadow: 0 0 10px 6px #3f4146;
} 
.img-fluid{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.card-images:hover > img {
    transform: scale(1.1);
  }


                             /* page single HTML */
                             /* b. breadcrumb */
.breadcrumb {
    font-size: var(--font-small);
    margin-bottom: 2em;
}
.breadcrumb li:not(:last-child)::after {
    content: "/";
    padding: 0 0.35em;
    color: #fff;
}
.breadcrumb li:last-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-text-color);
}
.flexitem {
    display: contents;
}

 
                                    /* 08 page single 
                                        c Product detalis */
 .products.one .item {
    flex-direction: column;
    max-width: 100%;
    width: auto;
}   
.products.one :where(.big-image, .small-image) {
    overflow: hidden;
    display: flex;
}
.products.one .big-image {
    position: relative;
    margin-bottom: 1em;
    width: 544px;
}
.products.one :where(.big-image, .small-image) img {
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.products.one .thumbnail-show {
    position: relative;
    width: 130px;
    height: 110px;
    overflow: hidden;
    margin: 0 2em 2em 0;
} 
.products :is(.swiper-button-next, .swiper-button-prev) {
    outline: 0;
    /* color: var(--secondary-dark-color); */
    color: #794afa;
    transition: var(--trans-background), transform .3s;
}
.products .big-image:hover .swiper-button-next {
    transform: translateX(10px);
}
.products .big-image:hover .swiper-button-prev {
    transform: translateX(-10px);
}
.products :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 3.5em;
}
.products .big-image:hover :is(.swiper-button-next, .swiper-button-prev) {
    /* background-color: var(--light-bg-color); */
    background-color: #f2f3f5;
}


       /* 08 PAGE SINGLE 
       D PRODUCTDESCRIPTION */
.products.one .title-text {
    color: #fff;
    font-size: 30px;
}
.products.one .price {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}
.products.one .price .current {
    color: #fff;
    font-size: 1.7em;
}
.products :where(.variant, .actions) circle {
    display: block;
    position: static;
    top: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
.products .actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.products .qty-control {
    width: fit-content;
    padding: 0.5em;
    border: 1px solid var(--border-color);
    margin: 0 2em 2em 0;
}
.products .actions :where(input, button) {
    font-size: 1em;
    outline: 0;
    border: 0px solid;
    height: 30px;
    border-radius: 100px;
    width: 30px;
    text-align: center;
}
.decrease {
    background-color:#3c3e41;
    color: #e2e7ef;
}
.increase {
    background-color:#3c3e41;
    color: #e2e7ef;
}
.circle {
    border-radius: 50px;
    background-color: #3c3e41;
    color: #fff;
    font-size: 1.7em;
    height: 30px;
    width: 30px;
}
.circle:hover {
    color: #000000;
    background-color: darkorange;
    transition: var(--trans-color);
}
.products .actions input {
    width: 50px;
    text-align: center;
    background-color: #3c3e41;
    color: #fff;
    height: 30px;
    border-radius: 40px;
}
.product .qty-control button::before {
    background-color: transparent;
}
.products .actions .button-cart {
    flex: 1;
    min-width: 100px;
}
.products .actions .button-cart button {
    width: var(--percent50);
    cursor: pointer;
    width: 150px;
}
.primary-button {
    border-radius: 20px;
    background-color: #5a0305;
    /* margin-left: 20px; */
    cursor: pointer;
    color: #f2f3f5;
}
.primary-button:hover {
    color: #0d51fd;
    background-color: #453c5c;
    transition: var(--trans-background-color);
}
.wish-share a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: var(--fw7);
    margin: 0em 2em 0.5em 0;
    transition: var(--trans-color);
}

                    /* 08 PAGE SIMBLE
                        e Product review */
.collapse:not(.show) {
    display: inline;
}
.products .collapse .has-child > a {
    position: relative;
    font-weight: var(--fw7);
    color:#fff;
    text-transform: uppercase;
    padding: 1em 1.5em;
    top: 30px;
    border-top: 1px solid var(--border-color);
}
.icon-large__text {
    display: block;
    padding: 0 0 0 15px;
}
.box__text  {
    margin: 40px 0 0 40px;
    color: #fff;
}

                       /* 08 PAGE SINGLE 
                         E  Product Review */

.icon-small__text {
    color: #f2f3f5;
    font-size: 1em;
}
.products .reviews h4 {
    font-size: 2em;
    color: rgb(156, 156, 167);
    padding-top: 1em;
    margin: 1em 0 0.5em;
    border: 1px solid var(--border-colorbord);
    gap: 1em;
    align-items: flex-start;
}
.products .review-block {
    color: initial;
}  
.secondary-button {
    background-color: #5a0305;
    cursor: pointer;
    color: #f2f3f5;
    padding: 0 0 5px 0;
}
.secondary-button:hover {
    color: #f2f3f5;
    background-color: #3c3e41;
    transition: var(--trans-background-color);
}
.products .review-block-head > a {
    display: block;
    font-size: 1.5em;
    width: 200px;
    margin-top: 1em;
    text-align: center;
    border-radius: 20px;
}   
.products .review-block-head .rate-sum {
    position: relative;
    font-size: 4em;
    font-weight: var(--fw7);
    padding-right: 0.5em;
    color: #fff;
}
.products .review-block-head .rate-sum::before {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    position: absolute;
    top: 25px;
    left: 100px;
    transform: rotate(22deg);
    background-color:#7c899a;
}
.review-block-body .item {
    gap: 1em;
    padding-bottom: 2.5em;
    margin-top: 3.5em;
}
.rate-sum__text {
    color: #737578;
}



                                /* 08 PAGE SINGLE 
                                f  Product Review form */
.review-form .rating {
    flex-wrap: wrap;
    display: flex;
} 
.review-form p {
    /* font-size: 1.25em; */
    margin-right: 1em;
    color: #fff;
}
.review-form .rate-this input {
    display: none;
}
.review-form .rete-this label {
    float: right;
    font-size: 2em;
    color: var(--secondary-darc-color);
}
.rate-this {
    color: #f2f3f5; 
 } 
.rate-this > input:checked ~ label,
.rate-this:not(:checked) > label:hover,
.rate-this:not(:checked) > label:hover ~ label {
    color: gold;
} 
.rate-this > input:checked + label,
.rate-this > input:checked ~ label:hover,
.rate-this > label:hover ~ input:checked ~ label,
.rate-this > input:checked ~ label:hover ~ label {
    color:goldenrod;
}
 .review-form form {
    margin-top: 2.5em;
 }                               
form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
form :where(input,textarea)  {
    line-height: 1;
    padding: 0.3em;
    border: 1px solid var(--border-color);
    outline: 0;
    border-radius: 15px;
    max-width: 550px;
}   
.form label {
    font-weight: var(--fw5);
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.fsi-5 {
    color: rgb(86, 82, 82);
}
.review-form .primary-button {
    width: 200px;
    height: 50px;
    text-align: center;
}
.form-control {
    border-radius: 30px;
}
                           /* 09 PAGE SINGLE: SPECIAL OFFER */



                           /* CART МАГАЗИН В HEADER */
.cena {
    color: #f2f3f5;
}  
                               /* текст под товаром */
.products a h3 {
    font-family: 'Redik';
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #fff;
    padding-top: 10px;
}

.products a h3:hover {
    text-decoration: underline;
    color:darksalmon;
}
.products .item-text a { 
    color: black;
}
.info-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
                                      /* ЦЕНА */
.products .info-price .price {
    /* font-size: calc(0.4em + 1vw); */
    font-family: 'Redik';
    color: #fff;
}

                                      /* КОРЗИНА */
.add-to-cart {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 14, 14);
    color: #fff;
    border-radius: 10px;
}
.add-to-cart:hover {
    color: burlywood;
}

/* коментарии клиента */
#comment-field {
    width: 550px;
    height: auto;
}
.tetxt-right-text {
    width: 200px;
    font-size: 12px;
}
.alert-primary-text {
    width: 550px;
    height: auto;
    background-color: #696f7a;
    border: 1px solid #696f7a;
    border-radius: 30px;
    padding: .375rem 0.75rem;;
}
.alert-success-text  {
    height: auto;
    min-height: 70px;
    max-height: 400px;
    width: 550px;
    background-color: #696f7a;
    border: 1px solid #696f7a;
    border-radius: 30px;
    padding: .375rem 0.75rem;;
    color: #e2e7ef;
}
.form-control-textarea {
    height: 70px;
    min-height: 70px;
    max-height: 400px;
}


/* footer */
/* способ связи */
.footer {
    margin: 50px 0 50px 0 ;
}
.footer_connection {
    display: inline;
}
.bi_email {
    color: aliceblue;
}
.bi_email:hover {
    color: #36456b;
}
.bi_instagram {
    color: #e2e7ef;
}
.bi_instagram:hover {
    color: rgb(210, 46, 46);
}
.bi_watscap {
    color: #e2e7ef;
}
.bi_watscap:hover {
    color: #3d6bde;
}







@media (min-width: 310px ) and (max-width: 550px) {
    .col-sm-4 {
        width: 100%;
        float: left;
    }
    #hero h1 {
        font-size: 30px;
    }
    .navbar-brend {
        font-size: 25px;
    }
    .icon-large {
        margin-right: 30px;
    }
    .products.cart table tbody tr {
        float: right;
    }
    .products.cart table :where(th, td) {
        float: left;
        margin: 0 0 0 0;
    }
    .products.main .item {
        flex: 0 0 50%;
    }
    /* page single */
    .products.one .big-image {
        margin-bottom: 2em;
    }
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }
}


@media (min-width: 481px) {
    
    .products.main .item {
        flex: 0 0 50%;
    } 
     .header-nav .icon-large {
        padding: 0;
    }
    
    /* page single */
    .products.one .big-image {
        margin-bottom: 2em;
    } 
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }
}

@media (max-width: 639px) {
    #cart-table thead {
       display: none; 
    }
    #cart-tabele tbody tr {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
    }
    #cart-tabele tbody tr td:first-child {
        width: var(--percent100);
        min-width: var(--percent100);
        position: relative;
    }
    #cart-tabele tbody tr td:not(:first-child) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: var(--percent100);
    }
    #cart-tabele tbody tr td:first-child {
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* and (max-width: 990px) */
@media (min-width: 768px) {
    .products .price .curent {
        font-size: 1.25em;
    }
    .products.mini, 
    .banner .row,
    .widgets .row {
        flex:0 0 50%;
    } 
    .products.main .item {
        flex: 0 0 33.3333%;
    }
    .products.one .row {
        flex: 0 0 50%;
        /* width: 50%; */
    }
    .products.one .is_sticky,
    .is_sticky {
        position: sticky;
        top: 2em;
    }  
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}


@media (min-width: 992px) {
    /* .container {
        padding: 0 2em;
    } */
    /* .icon-large {
        margin-left: -32px;
    }
    .bi-hover {
        margin-right: 115px;
    } */
    .mobile-hide {
        display: block;
    }
    .header-nav {
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .header-nav .right li > a {
        margin-left: 1em;
    }
    .has-child:hover ul {
        display: block;
    }
    .has-child li a:hover {
        text-decoration: underline;
    }

    /* slider */
    .slider > div > .wrapper {
        width: calc(100% - (300px + 2em));
        margin-left: auto;
    }
    .products.big .media {
        max-height: 373px;
    }

    .products.main .item 
    .widgets .row {
        flex: 0 0 25%;
    }
    .products.one .flexwrap > .row:last-child > .item {
        padding-left: 2em;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 990px;
        margin: 20px;
    }
}