* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear ;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2e5840 20%, #0e7639 40.1%);
    padding-bottom: 70px;
}

.container form {
    display: flex;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    justify-content: space-around;
}
.row {
    display: block;
}
input {
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #acacac;
    margin-bottom: 10px;
}
input,::placeholder {
    padding-left: 5px;
}

.submit-btn {
    margin-top: 10px;
    background: linear-gradient(90deg, #2e5840 20%, #0e7639 40.1%);
    font-size: 15px;
}
.submit-btn:hover {
    background: linear-gradient(90deg, #0e7639 20.1%, #2e5840 40%);
    color: #f1f1f1;
} 
